.icon {
  flex: none;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  &--favorite {
    mask-image: url("./icons/favorite.svg");
  }
  &--favorite-outline {
    mask-image: url("./icons/favorite-outline.svg");
  }
  &--comment {
    mask-image: url("./icons/comment.svg");
  }
  &--comment-outline {
    mask-image: url("./icons/comment-outline.svg");
  }
  &--download {
    mask-image: url("./icons/download.svg");
  }
  &--play {
    mask-image: url("./icons/play.svg");
  }
  &--close {
    mask-image: url("./icons/close.svg");
  }
  &--link-off {
    mask-image: url("./icons/link-off.svg");
  }
  &--expand-more {
    mask-image: url("./icons/expand-more.svg");
  }
  &--groups {
    mask-image: url("./icons/groups.svg");
  }
  &--check-circle {
    mask-image: url("./icons/check-circle.svg");
  }
  &--radio-unchecked {
    mask-image: url("./icons/radio-unchecked.svg");
  }
  &--alternate-email {
    mask-image: url("./icons/alternate-email.svg");
  }
}
