.icon {
  flex: none;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  &--favorite {
    mask-image: url("./icons/favorite.svg");
  }
  &--favorite-outline {
    mask-image: url("./icons/favorite-outline.svg");
  }
  &--comment {
    mask-image: url("./icons/comment.svg");
  }
  &--comment-outline {
    mask-image: url("./icons/comment-outline.svg");
  }
  &--download {
    mask-image: url("./icons/download.svg");
  }
  &--play {
    mask-image: url("./icons/play.svg");
  }
  &--close {
    mask-image: url("./icons/close.svg");
  }
  &--link-off {
    mask-image: url("./icons/link-off.svg");
  }
  &--expand-more {
    mask-image: url("./icons/expand-more.svg");
  }
  &--groups {
    mask-image: url("./icons/groups.svg");
  }
  &--check-circle {
    mask-image: url("./icons/check-circle.svg");
  }
  &--radio-unchecked {
    mask-image: url("./icons/radio-unchecked.svg");
  }
  &--alternate-email {
    mask-image: url("./icons/alternate-email.svg");
  }
  &--add-photo {
    mask-image: url("./icons/add-photo.svg");
  }
  &--refresh {
    mask-image: url("./icons/refresh.svg");
  }
  &--error {
    mask-image: url("./icons/error.svg");
  }
  &--more-horiz {
    mask-image: url("./icons/more-horiz.svg");
  }
  &--share {
    mask-image: url("./icons/share.svg");
  }
  &--photo-library {
    mask-image: url("./icons/photo-library.svg");
  }
  &--filter-none {
    mask-image: url("./icons/filter-none.svg");
  }
  &--content-copy {
    mask-image: url("./icons/content-copy.svg");
  }
  &--check {
    mask-image: url("./icons/check.svg");
  }
  &--info {
    mask-image: url("./icons/info.svg");
  }
  &--delete {
    mask-image: url("./icons/delete.svg");
  }
  &--edit {
    mask-image: url("./icons/edit.svg");
  }
  &--arrow-upward {
    mask-image: url("./icons/arrow-upward.svg");
  }
  &--chevron-left {
    mask-image: url("./icons/chevron-left.svg");
  }
  &--chevron-right {
    mask-image: url("./icons/chevron-right.svg");
  }
}
